body {
    font-family: monospace;
    background: aliceblue;
}

.App {
    margin: 0 auto;
}

.Card {
    border: 1px solid black;
    background: pink;
    padding: 5px;
    text-align: center;
}

.MemberList ul {
    list-style-type: none;
    padding: 0;
}